# Vendored PJ4 tree: machine-local artifacts
PJ4/.qt
PJ4/build/
PJ4/pj-official-plugins/build/
PJ4/.cache/
PJ4/pj-official-plugins/*/CMakeUserPresets.json
PJ4/pj-official-plugins/.cpm-cache/
server/bin/
